@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

/*Background*/

body {
    background-image: url(../imagens/4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;


}

/*Apresentação e nome */
#box {
    padding: 15% 20% 0% 20%;
    color: white;
    text-align: center;
    font-family: 'Varela', sans-serif;

}

/*Formatação do container de redes sociais*/

#redessociais {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;


}

#redessociais a {
    color: white;
    padding: 10px;


}

/*Formatação do Container de Imagens*/

.container {

    margin-top: 10px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.logo {
    cursor: pointer;
    display: block;
    float: left;
    padding: 2px;
    margin: 0px;
    width: 130px;

}

.legenda {
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 14px;
    margin: 0px;
    font-family: 'Varela', sans-serif;
    font-weight: bolder;

}

.grow:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition-delay: 0.2s;
}

.grow {
    width: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

/*Rodape*/

footer {
    clear: both;
    margin: 0;
    width: auto;
    bottom: 0px;
    padding-top: 40px;



}

#rodape {
    text-align: center;
}

#rodape a {
    padding: 5px;


}


#rodape p {
    font-family: 'Varela', sans-serif;
    color: #827F7F;
    font-size: 0.6em;
    padding-top: 15px;


}




@media (max-width: 420px) {

    .logo {
        cursor: pointer;
        display: block;
        float: left;
        padding: 2px;
        margin: 0px 4px 0px 4px;
        width: 70px;
        

    }

    .grow {
        width: 70px;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .legenda {
        font-size: 10px;
        text-align: center;
        color: white;
        padding: 14px;
        margin: 0px;
        font-family: 'Varela', sans-serif;
        font-weight: bolder;

    }

    footer {
        clear: both;
        margin: 0;
        width: auto;
        bottom: 0px;
        padding-top: 5px;
        margin-top: 270px;


    }

}

@media (min-width: 1900px) {
    .logo {
        cursor: pointer;
        display: block;
        float: left;
        padding: 10px;
        margin: 0px 4px 0px 4px;
        width: 250px;


    }

    .grow {
        width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .legenda {
        font-size: 30px;
        text-align: center;
        color: white;
        padding: 14px;
        margin: 0px;
        font-family: 'Varela', sans-serif;
        font-weight: bolder;

    }

    footer {
        clear: both;
        margin: 0;
        width: auto;
        bottom: 0px;
        padding-top: 5px;
        margin-top: 35px;


    }

    #rodape img {
        padding: 5px;
        width: 80px;
        height: 80px;


    }


    #rodape p {
        font-family: 'Varela', sans-serif;
        color: #827F7F;
        font-size: 1em;
        padding-top: 15px;
        
    }

    #box h1 {
        font-size: 4em;
    }

    #box p {
        font-size: 2em;
    }

    #redessociais a {
        color: white;
        padding: 10px;
        font-size: 2em;


    }
    #box {
        padding: 10% 20% 0% 20%;
        color: white;
        text-align: center;
        font-family: 'Varela', sans-serif;
    
    }


}