@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

/*Background*/

body {
    background-image: url(../imagens/4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;

}

/*Apresentação e nome */
#box {
    padding: 15% 20% 0% 20%;
    color: white;
    text-align: center;
    font-family: 'Varela', sans-serif;
}

/*Formatação do container de redes sociais*/

#redessociais {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#redessociais a {
    color: white;
    padding: 10px;
}

/*Formatação do Container de Imagens*/

.container {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.logo {
    cursor: pointer;
    display: block;
    float: left;
    padding: 2px;
    margin: 0px;
    width: 80px;

}

.legenda {
    font-size: 10px;
    text-align: center;
    color: white;
    padding: 14px;
    margin: 0px;
    font-family: 'Varela', sans-serif;
    font-weight: bolder;

}


.grow:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition-delay: 0.2s;
}

.grow {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#rodape {
    position: absolute;
    text-align: center;
    margin-top: 15px;
    bottom: 10px;
    left: -3px;
    width: 100%;
    height: 55px;
    /* Mesma Altura do Rodapé */



}

#rodape a {
    padding: 30px 10px-10px 5px;
    margin: 0px;
    margin-bottom: -10px;
}

#rodape p {
    margin-top: 7px;
    font-family: 'Varela', sans-serif;
    color: #827F7F;
    font-size: 0.6em;
}



